{#

This file is part of the Stooa codebase.

(c) 2020 - present Runroom SL

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '/emails/templates/email-base.html.twig' %}

{% set urlLink = '<a href="%link%" style="%style%">%link%</a>' %}
{% set fishbowlLink = appUrl ~ (locale is same as('en') ? '': ('/' ~ locale)) ~ '/fb/' ~ fishbowlSlug %}
{% set editFishbowlLink = appUrl ~ (locale is same as('en') ? '': ('/' ~ locale)) ~ '/fishbowl/list?selected=' ~ fishbowlSlug %}

{% import '/emails/helpers/email-macros.html.twig' as macros %}

{% block title %}
    {{ 'emails.new_attendee.subject'|trans({'%name%': attendeeName}, null, locale) }}
{% endblock %}

{% block body %}

    {{ macros.title('emails.new_attendee.title'|trans({'%name%': attendeeName}, null, locale), emailConfig, 'text-align:center;') }}
    {{ macros.spaceRow(20) }}
    {{ macros.text('emails.new_attendee.text'|trans({'%name%': attendeeName, '%fishbowl%': fishbowlName}, null, locale), emailConfig, 'text-align:center;') }}
    {{ macros.spaceRow(20) }}
    {{ macros.text('emails.new_attendee.copy'|trans({}, null, locale), emailConfig, 'text-align:center;') }}
    {{ macros.spaceRow(20) }}
    {{ macros.text(urlLink|replace({ '%link%': fishbowlLink, '%style%': emailConfig.fishbowlLink.styles }),
        emailConfig, '', 'fishbowlLink'
    ) }}
    {{ macros.spaceRow(20) }}
    {{ macros.text('emails.fishbowl_created_email.social_share'|trans({}, null, locale), emailConfig, 'text-align:center;') }}
    {% include '/emails/components/email-socials.html.twig' with {
        twitterHref: 'https://twitter.com/intent/tweet?text=' ~ fishbowlName ~ '&url=' ~ fishbowlLink,
        linkedinHref: 'https://www.linkedin.com/shareArticle?url=' ~ fishbowlLink ~ '&title=' ~ fishbowlName ~ '&mini=true'
    } %}
    {{ macros.spaceRow(20) }}
    <tr>
        <td align="center">
            <table class="create-fishbowl-data" role="presentation" align="center" cellpadding="4" cellspacing="0" border="0" width="100%" style="width: 100%; max-width: 100%; background-color: #fff; padding: 24px 32px;">
                {{ macros.text(fishbowlName, emailConfig, 'text-align:center;', 'fishbowlCardTitle') }}
                {{ macros.spaceRow(10) }}
                {% if fishbowlDescription %}
                    {{ macros.text(fishbowlDescription,emailConfig, 'text-align:center;') }}
                    {{ macros.spaceRow(10) }}
                {% endif %}
                {{ macros.text(fishbowlStartDate, emailConfig, 'text-align:center;', 'fishbowlCardHours') }}
                {{ macros.text(fishbowlStartTime ~ ' - ' ~ fishbowlFinishTime, emailConfig, 'text-align:center;', 'fishbowlCardHours') }}
            </table>
        </td>
    </tr>
    {{ macros.spaceRow(20) }}
    {{ macros.text('emails.fishbowl_created_email.edit_details'|trans({'%edit_link%': editFishbowlLink}, null, locale), emailConfig, 'text-align:center;') }}
    {{ macros.spaceRow(55) }}
    <tr>
        <td align="center">
            {% include '/emails/components/email-button.html.twig' with {
                link: fishbowlLink,
                label: 'emails.fishbowl_created_email.cta'|trans({}, null, locale)
            } %}
        </td>
    </tr>
{% endblock %}
