{#

This file is part of the Stooa codebase.

(c) 2020 - present Runroom SL

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '/emails/templates/email-base.html.twig' %}

{% import '/emails/helpers/email-macros.html.twig' as macros %}

{% block title %}{{ 'emails.reset_password_email.title'|trans({'%name%': name}, null, locale) }}{% endblock %}

{% block body %}
    {{ macros.title('emails.reset_password_email.title'|trans({'%name%': name}, null, locale), emailConfig) }}
    {{ macros.spaceRow(20) }}
    {{ macros.text('emails.reset_password_email.description'|trans({}, null, locale), emailConfig) }}
    {{ macros.spaceRow(45) }}
    <tr>
        <td align="center">
            {% include '/emails/components/email-button.html.twig' with {
                link: appUrl ~ (locale is same as('en') ? '': ('/' ~ locale)) ~ '/reset-password/' ~ resetToken,
                label: 'emails.reset_password_email.button_text'|trans({}, null, locale)
            } %}
        </td>
    </tr>
    {{ macros.spaceRow(45) }}
    {{ macros.text('emails.reset_password_email.expire_text'|trans({}, null, locale), emailConfig) }}
    {{ macros.spaceRow(20) }}
    {{ macros.text('emails.reset_password_email.information_text'|trans({'%email%': 'notrequestpwd@stooa.com'}, null, locale), emailConfig) }}
{% endblock %}
