{#

This file is part of the Stooa codebase.

(c) 2020 - present Runroom SL

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% import '/emails/helpers/email-macros.html.twig' as macros %}
{% extends '/emails/templates/email-base.html.twig' %}

{% set urlLink = '<a href="%link%" style="%style%">%link%</a>' %}
{% set eventLink = appUrl ~ (locale is same as('en') ? '': ('/' ~ locale)) ~ '/fb/' ~ fishbowlSlug %}
{% set editFishbowlLink = appUrl ~ (locale is same as('en') ? '': ('/' ~ locale)) ~ '/fishbowl/list?selected=' ~ fishbowlSlug %}

{% block title %}
    {{ 'emails.fishbowl_created_email.title'|trans({}, null, locale) }}
{% endblock %}

{% block body %}
    {{ macros.title('emails.fishbowl_created_email.title'|trans({}, null, locale), emailConfig, 'text-align:center;') }}
    {{ macros.spaceRow(40) }}
    {{ macros.text('emails.fishbowl_created_email.description'|trans({}, null, locale), emailConfig, '', 'description') }}
    {{ macros.spaceRow(20) }}
    {{ macros.text(urlLink|replace({ '%link%': eventLink, '%style%': emailConfig.eventLink.styles }),
        emailConfig, '', 'eventLink'
    ) }}
    {{ macros.text('emails.fishbowl_created_email.social_share'|trans({}, null, locale), emailConfig, 'text-align:center;') }}

    {% include '/emails/components/email-socials.html.twig' with {
        twitterHref: 'https://twitter.com/intent/tweet?text=' ~ fishbowlName ~ '&url=' ~ eventLink,
        linkedinHref: 'https://www.linkedin.com/shareArticle?url=' ~ eventLink ~ '&title=' ~ fishbowlName ~ '&mini=true'
    } %}

    {{ macros.spaceRow(20) }}
    <tr>
        <td align="center">
            <table class="create-fishbowl-data" role="presentation" align="center" cellpadding="4" cellspacing="0" border="0" width="100%" style="width: 100%; max-width: 100%; background-color: #fff; padding: 24px 32px;">
                {{ macros.text(fishbowlName, emailConfig, 'text-align:center;', 'eventCardTitle') }}
                {{ macros.spaceRow(10) }}
                {% if fishbowlDescription %}
                    {{ macros.text(fishbowlDescription,emailConfig, 'text-align:center;') }}
                    {{ macros.spaceRow(10) }}
                {% endif %}
                {{ macros.text(fishbowlStartDate, emailConfig, 'text-align:center;', 'eventCardHours') }}
                {{ macros.text(fishbowlStartTime, emailConfig, 'text-align:center;', 'eventCardHours') }}
            </table>
        </td>
    </tr>
    {{ macros.spaceRow(55) }}
    <tr>
        <td align="center">
            {% include '/emails/components/email-button.html.twig' with {
                link: eventLink,
                label: 'emails.fishbowl_created_email.cta'|trans({}, null, locale)
            } %}
        </td>
    </tr>
    {{ macros.spaceRow(55) }}
    {{ macros.note('emails.fishbowl_created_email.delete'|trans({'%id%': fishbowlId, '%styles%': emailConfig.link.styles}, null, locale), emailConfig, 'text-align: center;') }}
    {{ macros.spaceRow(25) }}
{% endblock %}
